/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.wrapper {
	width:1200px;
	margin:0 auto;
	border:1px solid #ccc;
}
.header {
padding:20px 10px;
}
.hero {
	width:1080px;
	height:380px;
	margin:10px auto;
	padding:10px;
	position: relative;
	border:1px solid #ccc;
	border-radius: 5px;
}
.box {
	position: relative;
	border:1px solid #ccc;
	border-radius: 5px;
	display: inline-block;
	padding:10px;
}
.box-1 {
	width:1080px;
	height:80px;
	margin:10px auto;
	display: block;
}
.box-2 {
	width:524px;
	height:180px;
	margin:10px 1px;
}
.box-3 {
	width:340px;
	height:180px;
	margin:10px 1px;
}
.box-3.first {
	margin:10px 3px 10px 50px;	
}
.box-2.first {	
	margin:10px 3px 10px 50px;	
}
@media only screen and (min-width: 768px) {
    /* tablets and desktop */

}

@media only screen and (max-width: 767px) {
    .wrapper {
	width:747px;
	padding:0 10px;
	}
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
    /* portrait phones */
    .wrapper {
	width:747px;
}
@media only screen and (max-width: 320px) {
    /* mobile*/
    .wrapper {
	width:320px;
	}
	.header {
	padding:10px 5px;
}

}

